.timeline h2, h4, p {
    font-family: Palatino Linotype, sans-serif !important;
}

.leftfixedprofile i.fas.fa-user-check {
    font-size: 17px;
    margin-right: 6px;
}

.leftfixedprofile i.fas.fa-user-times {
    margin-right: 6px;
}

.leftfixedprofile .dropdown-item {
    font-family: Palatino Linotype, sans-serif
}.leftfixedprofile .dropdown-item:hover {
     color: #fff;
     background-color: #6c757d;
     border-color: #6c757d;
}

button#add-friend-profile-5f2ccc65d9553c04989cbd21 {
    height: 37px;
}

button#cancel-request-profile-5f2ccc65d9553c04989cbd21 {
    height: 40px;
}
.leftfixedprofile .dropdown-toggle::after{
    content: none !important;
}
.leftfixedprofile .dropdown-toggle{
    padding: 8px 5px 8px 11px !important;
}
